.info-board {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 10px 12px 7px #FFEEDD	;
  width: calc(100% - 130px);
  height: 70%;
  margin: 20px auto;
  background: #fff;
}